# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.venv
venv/
ENV/
env/
.pytest_cache/
.mypy_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
htmlcov/
.hypothesis/
.pdm-python

# --- Rust ---
target/
**/*.rs.bk
debug/
release/

# --- IDEs / Editors ---
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# --- Maturin / Build ---
/janus/tachyon_rs.abi3.so
/janus/tachyon_rs.pyd
**/*.dSYM/
**/*.dylib
**/*copy*

# --- Other ---
*.local.md